/* TYPE STYLING FOR THE ENTIRE DOCUMENT */
body {
    font-family: Barlow;
}

h1 {
    color: #552FA7;
    font-weight: 600;
}

.main-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
}

/* BUTTONS */
.btn-primary, .btn-primary:visited {
    background-color: #4657FF;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #552FA7;
    border-color: transparent;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    font-family: Barlow;
}

nav {
    background-color: black;
    z-index: 5;
}

.navbar-brand {
    margin-left: 15%;
}

#navbarNav {
    margin-left: 35%;
}

/* JUMBOTRON */
.introWrapper {
    background-image: url(./assets/bkgd.jpg);
    background-position: 10% 20%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#jumboContent {
    position:absolute;
    top:50%;
    left:50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#line1 {
    display: block;
    margin: auto;
    color: white;
    font-weight: 500;
    font-size: 8em;
}

#line2 {
    margin-top: 0;
    font-weight: 700;
    color: white;
    font-size: 10em;
}

#line2 span {
    color: #46E6FF;
}

.introWrapper p {
    margin-top: 1em;
    color: white;
    font-size: 2em;
}

.introWrapper button {
    margin-top: 2em;
    background-color: transparent;
    border: 2px solid #90EE90;
    color: white;
    width: 12em;
    height: 3em;
    font-weight: 500;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
}

.hexBkgd {
    background: url(./assets/IMG_2096.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: top;
}

/* PORTFOLIO */
#portfolio h1 {
    padding-bottom: 1em;
}

.caption {
    background-color: #8146FF;
    color: white;
    height: 100%;
}

#portfolio a {
    color: white;
}

/* FOOTER */
#footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #552FA7;
    color: white;
}

/* MEDIA QUERIES */

/* 576PX */
@media (max-width: 576px) {

    /* NAV */
    .navbar-brand {
        margin-left: 0;
    }

    #navbarNav {
        margin: 0;
    }

    .navbar-collapse {
        text-align: center;
    }

    #line1 {
        font-size: 4em;
    }
    
    #line2 {
        margin-top: 0;
        font-size: 6em;
    }
        
    #line2 span {
        color: #46E6FF;
    }
        
    .jumbotron p {
        margin-top: 1em;
        font-size: 1.5em;
    }
        
    .jumbotron button {
        margin-top: 1em;
    }

    /* ABOUT */
    #aboutMe {
        padding-top: 1em;
    }

    #aboutMe img {
        width: 100%;
    }

    /* CERTIFICATIONS */
    #carouselExampleIndicators {
        width: 100%;
    }

    /* PORTFOLIO */
    #portfolio {
        padding-top: 2em;
        padding-bottom: 2em;
    }

}

/* 768px */
@media(max-width: 767.98px) {
    /* SKILLS */
    #mySkills {
        padding-left: 2em;
        padding-right: 1em;
    }

    #mySkills h1 {
        padding-bottom: .5em;
    }

    #css, #cs, #ang, #js, #react, #ts, #cc, #figma {
        width: 25%;
    }

    #boot, #git, #sql, #html {
        width: 25%;
        padding-bottom: 1em;
    }
}